*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.Galeria{
display: flex;
width: 100%;
justify-content: space-around;
padding: 40px 0;
}

.imagem{
width: 30%;
}

.imagem img{
 width: 100%;
 height: 100;
}

 